.footer-page{ 
    .C1-sub{
        display: flex;
        width: 300px;
        margin: 2rem auto;
        justify-content: space-evenly;
        padding: 2rem;
        border: 3px solid $background-page2;
        border-radius: 1rem;
        a{
            width: 30px;
        }
        .cls-1{
            fill: $background-page2;
        }
    }
}

