#menu-comp{
    // background: red;
    // height: 17vw;
    // @include telefono{
        //     height: 15vw;
        // }
        // @include tablet{
            //     height: 10vw;
            // }
            // @include desktop{
                //     height: 5vw;
                // }
    .MenuP-menu{
                    // // background: linear-gradient(180deg, rgba(255,255,255,1) 59%, rgba(255,255,255,0.9514399509803921) 74%, rgba(255,255,255,0.9598433123249299) 88%);
                    // background: linear-gradient(180deg, rgba(255,255,255,1) 59%, rgba(255,255,255,0.8926164215686274) 74%, rgba(255,255,255,0.774969362745098) 88%, rgba(255,255,255,0.7441570378151261) 100%);
        background: white; // menu no top
        width: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;

    }
    .MenuP-P{
        // background: white; // menu no top
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem 2rem;
        // position: fixed;
        // z-index: 10;
        top: 0;
        left: 0;
        @include desktop{
            padding: 1.3vw 2rem 1rem 2rem;

        }
        @include responsi(2000px){
            // max-width: 2000px;
            left: auto;
        }
    }
    .MenuP-S{
        border-top: dashed black;
        .C1{
            display: flex;
            align-items: center;
            margin: .1rem 2rem;
        }
        .M-btn{
            display: flex;
            padding: .5rem;
            max-width: fit-content;
            align-items: center;
            cursor: pointer;
            p{
                padding: .3rem;
            }
        }
        .M-profile{
            display: flex;
            align-items: center;
            p{
                margin: 1rem;
                max-width: 60px;
                overflow: hidden;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 100px;
            }
        }
        svg{
            color: $verde;
        }
    }
    .MenuP-logo{
        flex: 0 0 calc(40%);
        margin-left: 1rem;
        @include tablet{
            max-width: 20%;
        }
        @include desktop{
            margin-left: 3rem;
        }
        img{
            margin: 0;
        }
    }
    .MenuP-iconos{
        display: flex;
        min-width: 20%;
        justify-content: center;
        svg{
            color: $verde;
            margin: 0 1rem;
        }
    }
    .MenuP-buscador{
        display: flex;
        width: 50%;
        .C1{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            margin: 5px 0;
            border-top: 1px solid $verde;
            border-left: 1px solid $verde;
            border-bottom: 1px solid $verde;
            border-right: none;
        }
        .C2{
            width: 20%;
            max-width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0;
            border-top: 1px solid $verde;
            border-left: none;
            border-bottom: 1px solid $verde;
            border-right: 1px solid $verde;
            background: $background-page;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .C3{
            position: absolute;
            width: 45%;
            margin: 4rem 0;
        }
        .C3-1{
            width: 100%;
            background: white;
            position: relative;
            top: 0px;
            max-height: 150px;
            overflow: auto;
        }
        .C3-2{
            padding: 1rem;
        }
        svg{
            color: $verde;
            // margin: 0 1rem;
        }
    }
}
