@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Quicksand:wght@300&family=Ubuntu:wght@500;700&display=swap');
// fondo de pagina
// $background-page:white;
$background-page:rgb(104, 173, 87);
$background-page2:white;

//tamaños de pantalla
// Tamaño de Media Queries
$reloj: 250px;
$telefono: 400px;
$tablet: 600px;
$desktop: 900px;

//FUENTES DE LA PAGINA
$fuente_principal: 'Quicksand', sans-serif;

//TAMAÑOS DE FUENTE
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
//PALETA DE COLORES
$verde: rgb(211, 92, 207);
// $verde: #97dc03;
$verdeoscuro: rgb(211, 92, 207);
// $verdeoscuro: #4ea558;
// $azulclaro: #7CB1FF;
$azul: #436BA6;
$azuloscuro: #01304f;
// $gris:#ECECEC;
// $naranja:#E55B32;









// // Fuentes

// // Colores
// $azulclarito:#c9f7ff;
// $azulclaro:#00d7ff;
// $negro: #000000;
// $amarillo: #E08709;
// // $azul:#00d7ff;
// $azul:#000aff;
// $verde: #23b100;
// $blanco: #FFFFFF;
// $gris: #e1e1e1;
// $grisOscuro: #333333;
// $separacion: 5rem;
// // Fuentes
